<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <table>
      <% order.each do |food|%>
        <tr>
          <td>$<%= sprintf("%.02f",(food[1] * food[2]))%></td>
          <td>
            <% if food[0] == "custom pizza" %>
              <%= food[0].capitalize%>
              <ul>
                <% food[4].each do |ingred| %>
                  <li> <%=ingred%> </li>
                <% end %>
              </ul>
            <% else %>
              <%= food[0].capitalize%>
            <% end %>
          </td>
          <td>Qty: <%= food[2] %></td>
        </tr>
      <% end %>
    </table>
    <ul>
      <li>Subtotal: $<%= sprintf("%.02f",cost["subtotal"])%></li>
      <li>Tax: $<%=sprintf("%.02f",cost["tax"])%></li>
      <li>Total: $<%=sprintf("%.02f",cost["total"])%></li>
    </ul>
    <a href="/delivery">Order For Delivery</a>
    <a href="/pickup">Order for Pickup</a>
  <a href="/menu"><button>Return to menu</button></a>
  </body>
</html>
