
  <body>
    <div class="foodmenu">
      <% menu.each do |key, value| %>
        <!-- |key, value| prevents displaying whole menu hash -->
        <% if key != "size" && key != "custom" %>
          <a href="/sides?category=<%=key%>"><button type="button"><%=key.capitalize%></button></a><br><br><br>
        <% end %>
      <% end %>
  </div>
    <% if order.length != 0 %>
      Current order:<br>
      <table>
      <% order.each_with_index do |food, index|%>
        <tr>
          <td>$<%= sprintf("%.02f",(food["price"] * food["qty"]))%></td>
          <td>
            <% if food["ingreds"] != nil %>
              <%= food["item_name"].capitalize%>
              <ul>
                <% food["ingreds"].each do |ingred| %>
                <li> <%=ingred%> </li>
                <% end %>
              </ul>
            <% else %>
              <%= food["item_name"].capitalize%>
            <% end %>
          </td>
          <td>Qty: <%= food["qty"] %></td>
          <!-- <td>[<a href="/remove?item=<%=index%>" method="post">X</a>]</td> -->
        </tr>
      <% end %>
    </table>
      <a href="/checkout"> <button type="button">Checkout</button></a>
    <%end%>
  </body>
