<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <ul>
      <% menu.each do |key, value| %>
        <!-- |key, value| prevents displaying whole menu hash -->
        <% if key != "size" && key != "custom" %>
          <li><a href="/sides?category=<%=key%>"><button type="button"><%=key.capitalize%></button></a></li>
        <% end %>
      <% end %>
    </ul>
    Current order:<br>
    <table>
    <% order.each do |food|%>
      <tr>
        <td>$<%= sprintf("%.02f",(food[1] * food[2]))%></td>
        <td>
          <% if food[0] == "custom pizza" %>
            <%= food[0].capitalize%>
            <!-- food[0].each use ul li to show each ingred -->
          <% else %>
            <%= food[0].capitalize%>
          <% end %>
        </td>
        <td>Qty: <%= food[2] %></td>
      </tr>
    <% end %>
  </table>
    <a href="/checkout"> <button type="button">Checkout</button></a>
  </body>
</html>
