<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Select an item</h2>
    <form action="/add_to_order" method="post">
      <!-- Loop through hash to show items and their price. -->
    <div class = "display">
      <ul>
        <% menu[selection].each do |key, value| %>
          <li>
            <input type="radio" name="name_price" required value="<%=key%>, <%=value%>"> $<%= sprintf("%.02f",value)%> <%=key.capitalize%>
          </li>
        <%end%>
        <% if selection == "pizza" %>
          <br><% menu["size"].each do |size, price|%>
            <input type="radio" name="size_price" required value="<%=size%>, <%=price%>"> <%=size%>
          <%end%>
          <li>
            <a href="/custom_pizza">Make your own!</a>
          </li>
        <% end %>
      </ul>
    </div>
      <p>Quantity: <input type="number" min="1" max="50" value="1" name="quantity" required></p>
      <input type="submit" value="Add this item">
    </form>
    <a href="/menu"><button>Return to menu</button></a>
  </body>
</html>
